html
  head
    title= 'Rocketeer'
  body
    h1= 'Rocketeer'
    h1.
    - var nextTen = offset + 10
    - var prevTen = offset - 10

    if launchData.length > 1
      if offset >= 0
        a(href='http://localhost:8000/launch/' + nextTen) Next 10 launches

    br.

    if offset > 9
      a(href='http://localhost:8000/launch/' + prevTen) Prev 10 launches

    h4= 'Upcoming launches'
    if launchData.length > 1
      for launch in launchData
        ul
          li.
            Rocket Name: #[a(href=launch.rocket.wikiURL) #{launch.rocket.name}]
          li.
            Agency Name: #[a(href=launch.agency.wikiURL) #{launch.agency.name}]
          li.
            Launch Location: #{launch.location.name || launch.agency.countryCode}
          li.
            Launch Time: #{launch.net}
          if launch.infoURLs
            each url in launch.infoURLs
              li.
                #[a(href=url) #{url}]
        hr.
    else
      h4= 'No further launches'
